.products_container {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(90deg, #dae3de38, #dae3de77, #b3bade, #6789ba);
}

.products_search_p {
    font-size: 18px;
}

.products_ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.products_li {
    display: flex;
    flex-direction: column;
    width: 270px;
    list-style: none;
}